rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAnyAuthenticated() {
      return request.auth != null;
    }
    
    function isUserAuthenticated(userId) {
      return isAnyAuthenticated() && userId == request.auth.uid;
    }

    function documentPath(paths) { // paths must be array of string
      return path([['databases', database, 'documents'].join('/'), paths.join('/')].join('/'));
    }

    function getUser(userId) {
      return get(documentPath(['users', userId]));
    }

    function isApprover(userId) {
      return get(getUser(request.auth.uid).data.roleRef).id == '2'
    }
    
    match /roles/{roleId} {
      allow read: if isAnyAuthenticated()
    }
    
    match /users/{userId} {
      allow read: if userId in getUser(request.auth.uid).data.assistantUserIds && isApprover(request.auth.uid)
       || isUserAuthenticated(userId);

      allow write: if isUserAuthenticated(userId);

      match /assistToApprovers/{assistToApproverId}/{document=**} {
        allow read: if request.auth.uid == assistToApproverId || isUserAuthenticated(userId)
        // TODO: wirte権限の記載
      }
    }
  }
}
