rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAnyAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(userID) {
      return isAnyAuthenticated() && userID == request.auth.uid;
    }
    function documentPath(paths) { // paths must be array of string
      return path([['databases', database, 'documents'].join('/'), paths.join('/')].join('/'));
    }
    
    match /roles/{roleId} {
      allow read: if isAnyAuthenticated()
    }
  }
}
